body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bdeaff;
    margin-top: 50px;
    background-image: url("./MASTERMIND.png");
    background-repeat: repeat;
    background-position: top left;
    background-size: 300px;
}
.winlose {
    text-align: center; 
    border-radius: 14px;
}
#canvas {
    width: 300px;
    height: 500px;
    border-radius: 14px;
}
#canvas:hover {
    cursor: pointer;
}
.mastermind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c9eeff;
    width: 300px;
    height: 500px;
    /* border-style: solid; */
    /* border-color: #29bbff; */
    border-radius: 14px;
    box-shadow: 0px 0px 15px 2px #29bbff;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
}
.game-board {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;;
    margin-bottom: 8px;
    /* margin-top: 10px; */
}
h4{
    margin: 2px;

}
p {
    text-align: left;
    margin-top: 60px;
}
.buttons {
    width: 275px;
    height: 30px;
    /* max-height: 30px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    margin-bottom: 0px;
    /* margin-top: 10px; */
}
.buttons>div {
    width: 40px;
    height: 30px;
    margin: 6px;
    text-align: center;
}
#check{
    grid-column-start: 1;
    grid-column-end: 2;
}
#undo {
    grid-column-start: 2;
    grid-column-end: 3;
}
#instruction-box {
    grid-column-start: 3;
    grid-column-end: 5;
}
button {
    color: black;
    background-color: #9ce1ff;
    border-radius: 14px;
    border-style: none;
    padding: 1px 10px;
    outline: none;
    font-family: "M PLUS Rounded 1c";
    font-size: 14px;
    /* box-shadow: 2px 2px 0px black; */
}
button:hover {
    cursor: pointer;
    padding: 3px 13px;
    background-color: white;
    color: black;
} 

.instructions {
  padding: 20px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.instructions>div {
    max-width: 300px;
    height: 40px;
}
.grid {
    display: grid;
    background-color: black;
    width: 275px;
    height: 30px;
    margin-bottom: 8px;
    border-radius: 14px;
}
.options {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 15px;
}
.option:hover {
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
}
.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.square {
    width: 8px;
    height: 8px;
    place-self: center;
    border-style: inset;
    border-width: 2px;
    /* background-color: #c6c6c6; */
}
#solution {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 10px;
}
h3 {
    margin: 0px 5px 0px 0px;

    padding-bottom: 8px;
    align-self: center;
    justify-self: end;
}
.solution { 
    width: 125px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-self: start;
    border-radius: 14px;
}
.reset{
    
    padding-top: 4px;
    justify-self: center;
    /* align-self: center; */
}
.empty{
    background: linear-gradient(#ffffff 0%, #d5d5d5 30%, #858585 100%);
    transform: rotate(-20deg);
}
.empty::before{
    content: "";
    height: 19px;
    width: 19px;
    background: linear-gradient(#858585 0%, #e3e3e3 50%,#ffffff 100%);
    border-radius: 50%;
    filter: blur(2px); 
}
.guess-level-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.guess-level-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.clues-level-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #c6c6c6;
    /* background-color: black; */
    border-style: solid;
    border-left: none;
    border-width: 2px;
    border-color: #858585;
    border-radius: 0px 14px 14px 0px;
}
.clues-level-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #c6c6c6;
    /* background-color: black; */
    border-style: solid;
    border-left: none;
    border-width: 2px;
    border-color: #858585;
    border-radius: 0px 14px 14px 0px;
}
.red {
    background: linear-gradient(#ff0000 0%, #c70000 50%, #780000 100%);
}
.red::before{
    content: "";
    height: 15px;
    width: 15px;
    background: linear-gradient(#ff7575 0%, #ff0000 70%, #9c0000 100%);
    border-radius: 50%;
    filter: blur(2px); 
}
.orange {
    background: linear-gradient(#ffa500 0%, #e39300 50%, #875800 100%);
}
.orange::before{
    content: "";
    height: 15px;
    width: 15px;
    background: linear-gradient(#fcd17e 0%, #ffa500 70%, #c27e00 100%);
    border-radius: 50%;
    filter: blur(2px); 
}

.yellow {
    background: linear-gradient(#ffff00 0%, #e0e000 50%, #757500 100%);
}
.yellow::before{
    content: "";
    height: 15px;
    width: 15px;
    background: linear-gradient(#ffff87 0%, #ffff00 70%, #9c9c00 100%);
    border-radius: 50%;
    filter: blur(2px); 
}
.green {
    background: linear-gradient(#00a300 0%, #008000 70%, #005400 100%);
}
.green::before{
    content: "";
    height: 15px;
    width: 15px;
    background: linear-gradient(#72cf72 0%, #00a300 70%, #007000 100%);
    border-radius: 50%;
    filter: blur(2px); 
}
.blue {
    background: linear-gradient(#0055ff 0%, #004be3 70%, #002775 100%);
}
.blue::before{
    content: "";
    height: 15px;
    width: 15px;
    background: linear-gradient(#6e9eff 0%, #0055ff 70%, #003cb5 100%);
    border-radius: 50%;
    filter: blur(2px); 
}
.purple {
    background: linear-gradient(#9403fc 0%, #8000db 70%, #460078 100%);
}
.purple::before{
    content: "";
    height: 15px;
    width: 15px;
    background: linear-gradient(#cb82ff 0%, #9403fc 70%, #6400ab 100%);
    border-radius: 50%;
    filter: blur(2px); 
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}
.hidden {
    display: none;
}
