body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bdeaff;
}
h1 {
    color: purple;
    margin: 10px;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b8b8b8;
    width: 300px;
    height: 575px;
}
h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; */
    background-color: black;
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
}
.options {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    place-self: center;
}
.square {
    width: 10px;
    height: 10px;
    place-self: center;
    border-style: solid;
}
.solution {
    width: 125px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-justify: center;
}
.empty{
    background-color: #b8b8b8;
}
.guess {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.clues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #b8b8b8;
    border-style: solid;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.buttons{
    margin-bottom: 10px;
}
.options>div:hover, button{
    cursor: pointer;
} 
