body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bdeaff;
    margin-top: 50px;
    background-image: url("./MASTERMIND.png");
    background-repeat: repeat;
    background-position: top left;
    background-size: 300px;
}
.winlose {
    place-self: center;
    width: max-content;
    text-align: center;
}
#message {
    background-color: #29bbff;
    color: white;
    font-size: 30px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 14px;

}
.mastermind {
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 234, 255, 1);
    width: 300px;
    height: 535px;
    border-style: solid;
    border-color: #29bbff;
    border-radius: 14px;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
p {
    text-align: left;
    margin-top: 60px;
    /* margin: 0px; */
}
.buttons {
    width: 300px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0px;
}
.buttons>div {
    /* max-width: 86px; */
    width: 40px;
    height: 30px;
    margin: 6px;
    text-align: center;
}
#instruction-box {
    width: 80px;
}
button {
    color: black;
    background-color: #29bbff;
    border-radius: 14px;
    border-style: none;
    padding: 1px 6px;
    outline: none;
    font-family: "M PLUS Rounded 1c";
    font-size: 12px;
    box-shadow: 2px 2px 0px black;
    place-self: center;
}
button:hover {
    cursor: pointer;
    padding: 3px 8px;
    background-color: white;
} 

.instructions {
  padding: 20px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.instructions>div {
    max-width: 300px;
    height: 40px;
}
.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; */
    background-color: black;
    width: 250px;
    height: 30px;
    margin-bottom: 8px;
    border-radius: 14px;
}
.options {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.option:hover {
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /* border-radius: 14px; */
}
.clues {
    border-radius: 0px 14px 14px 0px;
}
.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    place-self: center;
}
.square {
    width: 8px;
    height: 8px;
    place-self: center;
    border-style: solid;
}
#solution {
    margin-top: 0px;
}
.solution {
    width: 125px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-justify: center;
    border-radius: 14px;
    /* margin-bottom: 20px; */
}
.empty{
    background-color: rgb(205, 205, 205);
}
.guess {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.clues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(205, 205, 205);
    border-style: solid;
}
.red {
    background-color: rgb(255, 0, 0);
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}
.hidden {
    display: none;
}

